@{
    ViewBag.Title = "Robot Wizard";
    Layout = "";
}
<head>
    <script src="~/Scripts/notOriginal/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/colorShiftBackground.js"></script>
    <script src="~/Scripts/buttons.js"></script>
    <link href="~/Content/styles/Master.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body id="splashBody">
    <div id="homeSplashContainer">
        <img id="splashImage" src="~/Content/robots/homeSpalsh2.png" />

        <div id="enterWrap">
            <button class="btn btn-primary btn-lg pull-right btnWithImg pBtn" id="enterSite" onclick="@("window.location.href='" + @Url.Action("Start", "Home") + "'")">
                <img id="enter" src="~/Content/buttons/enter.png">
            </button>
        </div>

    </div>
</body>