@{
   ViewBag.Title = "Home Slice";
   Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="top3rd"></div>
<div id="middle3rd">
   <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5">
         <button class="btnWithImg pBtn" onclick="@("window.location.href='" + @Url.Action("Index", "Games") + "'")">
            <img id="games2" class="homeNavBtn dropShadow" src="~/Content/buttons/games2.png">
         </button>
      </div>
   </div>

   
</div>

<div id="bottom3rd">
   <div class="row">
      <div class="col-md-1">
         <button class="btnWithImg pBtn" onclick="@("window.location.href='" + @Url.Action("Index", "Music") + "'")">
            <img id="theBardening2" class="homeNavBtn dropShadow" src="~/Content/buttons/theBardening2.png">
         </button>
      </div>
      <div class="col-md-11">
      </div>
   </div>
</div>



<script>
   $("body").addClass('mainBack');
</script>