<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <link href="~/Scripts/notOriginal/bootstrap.min.css" rel="stylesheet" />
   <link href="~/Content/styles/Master.css" rel="stylesheet" />
   <script src="~/Scripts/notOriginal/jquery-2.1.4.min.js"></script>
   <script src="~/Scripts/buttons.js"></script>
   <script src="~/Scripts/sound.js"></script>
   <title>@ViewBag.Title</title>
</head>
<body>
   <div id="header">
      <a href="@Url.Action("Start","Home")"><img align="right" id="siteName" src="~/Content/images/logos/RoboWizLogo.png"></a>
   </div>
   <div class="container">
      @RenderBody()

      <div id="roboWizWipe" style="display:none">
         <div class="row">
            <span class="col-sm-2"></span>
            <div class="row col-sm-5">
               <h1 id="roboWizWipeMessage"></h1>
            </div>
            <span class="col-sm-5"></span>
         </div>
         <div class="row">
            <div class="row col-sm-8">
               <img src="~/Content/robots/robowizardWithBubble.png" id="robotWizardPic" />
            </div>
            <div id="routeBox" class="col-sm-4">
               <button id="nextBtn" class="btn btnWithImg pBtn route">
                  <img id="next" src="~/Content/buttons/next.png">
               </button>
               <button id="homeBtn" class="btn btnWithImg pBtn route">
                  <img id="home" src="~/Content/buttons/home.png">
               </button>
            </div>
         </div>
      </div>

   </div>
</body>
</html>


