<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <link href="~/Scripts/notOriginal/bootstrap.min.css" rel="stylesheet" />
   <link href="~/Content/styles/Master.css" rel="stylesheet" />
   <script src="~/Scripts/notOriginal/jquery-2.1.4.min.js"></script>
   <script src="~/Scripts/buttons.js"></script>
   <script src="~/Scripts/sound.js"></script>
   <title>@ViewBag.Title</title>
</head>
<body>
   <div id="header">
      <a href="@Url.Action("Index","Home")"><img align="right" src="~/Content/images/logos/RoboWizLogo.png"></a>
   </div>
   <div class="container">
      @RenderBody()
   </div>
   
   <div id="roboWizWipe">
      <div class="row">
         <span class="col-sm-1"></span>
         <h1 id="roboWizWipeMessage" class="col-sm-8"></h1>
         <span class="col-sm-1"></span>
      </div>
      <div class="row">
         <img src="~/Content/robots/robowizardWithBubble.png" id="robotWizardPic" />
      </div>
   </div>
   <div id="routeBox" class="row" style="display:none">
      <span class="col-sm-3"></span>
      <button id="nextBtn" class="col-sm-1 btn btn-primary btn-lg btnWithImg pBtn route" onclick="">
         <img id="next" src="~/Content/buttons/next.png">
      </button>
      <span class="col-sm-3"></span>
      <button id="homeBtn" class="col-sm-1 btn btn-primary btn-lg btnWithImg pBtn route">
         <img id="home" src="~/Content/buttons/home.png">
      </button>
      <span class="col-sm-2"></span>
   </div>
</body>
</html>


