/* This is not the CSS you're looking for ... move along */

html, body {
   height: 100%;  
   width: 100%;
   overflow: hidden;
}
.mainBack {
   background: url("http://rbotwizard.com/Content/robots/robowizardMainBackgorundGray.jpg") no-repeat;   
   background-size: 30%;
   background-position: 50% 50%;
}
.backColor1 {
   border-top: #60f4cc solid 1px;
   border-left: #60f4cc solid 1px;
   background-color:#b5f9c6;
   box-shadow: 2px 2px 2px #404040;
}
.backColor2 {
   background-color:#f6c2c2;
   border-top: #eab0b0 solid 1px;
   border-left: #eab0b0 solid 1px;
   box-shadow: 2px 2px 2px #404040;
}
.backColor3 {
   background-color:#9BEFFF;
   border-top: #81C8E5 solid 1px;
   border-left: #81C8E5 solid 1px;
   box-shadow: 2px 2px 2px #404040;
}
.backColor4 {
   background-color:#DEB9F2;
   border-top: #E0AFF3 solid 1px;
   border-left: #E0AFF3 solid 1px;
   box-shadow: 2px 2px 2px #404040;
}
.backColor5 {
   background-color:#DCD959;
   border-top: #EDDB54 solid 1px;
   border-left: #EDDB54 solid 1px;
   box-shadow: 2px 2px 2px #404040;
}

.FourOFourBack {
   background-color: black;
}

body::after {
   opacity : 0.5;
}

#header {
   background-color: #D43F3F;
   width: 100%;
   height: 5%;
   display: block;
   box-shadow: 2px 2px 2px #404040;
}

.container {
   height: 80%;
}

#top3rd {
   height: 15%;
}
#middle3rd {
   margin-top:20px;
   height: 40%;
   width: 100%;
}
#bottom3rd {
   margin-top:20px;
   height: 15%;
}

*:focus {
   outline: 0 !important;
}

#roboWizWipe {
   /*position: absolute;
   display:none;
   left: 20%;*/
}

#roboWizWipeMessage {
   background-color: white;
   border: black 4px solid;
   border-radius: 25px;
   padding: 10px;
}

#roboWizWin {
   position: absolute;
   display:none;
   left: 20%;
}

/****** PICTURES ******/
#robotWizardPic {
   max-height: 350px;
}

.sortItem img {
   width: 80%;
}

.topBuffer {
   height: 5%;
}

.title {
   width: 100%;
   font-family: Impact, Charcoal, sans-serif;
}

.title h2, h4 {
   text-align: center;
}

/*
.route #home{
   bottom:0;
   position: fixed;
}

.route #next {
   bottom:0;
   position: fixed;
}

.route #retry {
   bottom:0;
   position: fixed;
}
*/

#siteName {
   height: 100%;
}

/* BUTTONS */
.homeNavBtn {
   max-height: 125px;
}
.btnWithImg {
    background: transparent;
    border: none !important;
}
.btnWithImg:hover {
    background: transparent;
    border: none !important;
}
.btnWithImg:active {
    background: transparent;
    border: none !important;
}
.btnWithImg:disabled {
    background: transparent;
    border: none !important;
}
.btnWithImg:disabled:hover {
    background: transparent;
    border: none !important;
}
.btnWithImg:focus {
    background: white !important;
    border: none !important;
}
.goImg {
    background: white !important;
    border: none !important;
}
.clickAble {
   cursor: pointer;
}

/** table **/
.tdPad {
   padding: 10px;
}

/** home Splash page **/
#homeSplashContainer {
    width: 50%;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    position: relative;
}
#splashImage {
    width: 80%;
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#enterWrap {
    width: 100%;
    text-align: center;
    position:absolute;
    top: 70%;
}
#splashBody {
    background-color:black;
}

/*** MUSIC ***/
pre#lyrics {
   background-color: #f6c2c2;
   border-top: #eab0b0 solid 1px;
   border-left: #eab0b0 solid 1px;
   box-shadow: 2px 2px 2px #404040;
}
pre#credits {
   text-align: left;
   background-color: #DEB9F2;
   border-top: #E0AFF3 solid 1px;
   border-right: #E0AFF3 solid 1px;
   box-shadow: -2px 2px 2px #404040;
}

.instructionText {
   font-weight: 500;
   line-height: 1.1;
   font-family: Impact, Charcoal, sans-serif;
}

.fullWidth {
   width: 100%;
}

.unSelectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.robotButton {
   border-style: outset;
   border-width: 10px;
   border-color:aqua;
}
