/* This is not the CSS you're looking for ... move along */

html, body {
   height: 97%;  
   width: 100%;
   overflow: hidden;
}

#header {
   background-color: #D43F3F;
   width: 100%;
   height: 5%;
   display: block;
   box-shadow: 2px 2px 2px #404040;
}

#header img {
   width: 25%;
}

#container {
   height: 80%;
}

#top3rd {
   height: 15%;
}
#middle3rd {
   height: 40%;
   width: 100%
}
#bottom3rd {
   height: 15%;
}

.btnWithImg {
    background: white !important;
    border: none !important;
}

.btnWithImg:focus {
    background: white !important;
    border: none !important;
}

.goImg {
    background: white !important;
    border: none !important;
}

*:focus {
   outline: 0 !important;
}

#roboWizWipe {
   position: absolute;
   display:none;
   left: 20%;
}

#roboWizWin {
   position: absolute;
   display:none;
   left: 20%;
}

.sortItem img {
   width: 80%;
}

.topBuffer {
   height: 5%;
}

.title {
   width: 100%;
   font-family: Impact, Charcoal, sans-serif;
}

.title h2, h4 {
   text-align: center;
}