@{
   Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="top3rd">
   <div class="title">
      <h2>Games</h2>
   </div>
</div>

<div id="middle3rd">
   <div class="row">
      <span class="col-md-1">
         <button class="btnWithImg pBtn" onclick="@("window.location.href='" + @Url.Action("ArrangePlanets", "Arrange") + "'")">
            <img id="planets" src="~/Content/buttons/planets.png">
         </button>
      </span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
      <span class="col-md-1"></span>
</div>
</div>

<div id="bottom3rd" class="clearfix">
</div>

<script>
</script>
