@{
   ViewBag.Title = "Index";
   Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div id="top3rd">
   <div class="title">
      <h2>Music</h2><h4>Bard-Bot 4000 proudly presents.</h4>
   </div>
</div>

<div id="middle3rd">

</div>

<div id="bottom3rd">

</div>

<script>
   $("body").addClass('mainBack');
</script>